<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARCHIVE</title>

   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Black+Ops+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />

    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    
        
        <div class="navbar">
            <div class="navbar-logo">
                <a href="/">
                    <img src="/images/logoName.png" alt="Archive Logo" class="logo-name">
                </a>
                
            </div>

            <div class="navbar-options">

                <a href="/marvel">
                    <h2>MARVEL</h2>
                </a>

                <a href="/dc">
                    <h2>DC</h2>
                </a>

                <form action="/search" method="post">
                    <div class="search">
                        <span class="search-icon material-symbols-outlined">search</span>
                        
                        <input class="search-input" type="search" name="search-content" id="" placeholder="Search">
                    </div>
                </form>
            </div>

            


        </div>
    

    <img class="hero-skyline"src="/images/HeroSkyline.png" alt="Hero Skyline Image Blue" >

    <div class = "home-section">
        <div class="hero-section">
            <br>
            <div class="hero-text-container">
                <p>THE MULTIVERSE AWAITS</p>
            </div>
            
            
            
            <h1 class="text-glow">ARCHIVE</h1>
            <p>Explore Heroes and Villains Across the Multiverse</p>
        </div>
        <hr class="horizontal-line">
        <div class="container-universe">
            <div class ="container-marvel">
                <div class="image-wrapper">
                    <img  class="skyline-img"src="/images/redCitySkyline.png" alt="Red City Skyline image">
                    <div class="card-content">
                        <div class="marvel-logo">
                            <img src="/images/marvelLogo.png" alt="Marvel Logo">
                        </div>
                        <h2>MARVEL UNIVERSE</h2>
                        <p>Explore Avengers, Spider-Man, X-Men, Guardians of the Galaxy, and countless legendary heroes.</p>
                        <a href="/marvel" class="button marvel-button">Enter Marvel</a>
                    </div>
                </div>
                
            </div>

            <div class="container-dc">
                

                <div class="image-wrapper">
                    <img class="skyline-img" src="/images/blueCitySkyline.png" alt="Blue City Skyline image">
                    <div class="card-content">
                        <div class="dc-logo">
                            <img src="/images/dcLogo.png" alt="Detective Comics Logo">
                        </div>
                        <h2>DC UNIVERSE</h2>
                        <p>Discover Batman, Superman, Wonder Woman, Flash, Justice League, and iconic villains.</p>
                        <a href="/dc" class="button dc-button">Enter DC</a>
                    </div>
                </div>

            </div>






        </div>
        
    </div>

    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js" defer></script>
</body>
</html> 


